[submodule "OCA/product-pack"]
	path = OCA/product-pack
	url = git@github.com:OCA/product-pack.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "OCA/helpdesk"]
	path = OCA/helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 15.0
